<a href="/">Back</a>
<h1>Create New Message</h1>
<form action="/new" method="POST">
<input type="text" name="Username" placeholder="Name" class="input-form" required>
</br>
<input type="text" name="Textmessage" placeholder="Message" class="input-form" required>
</br>
<button value="submit" class="send-form">submit</button>
<form>

    